<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.dume.dume">
    <!-- when a object needs internet to execute a job -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- if any object needs to read local storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstTimeUser.PermissionActivity"></activity>
        <activity android:name=".FirstTimeUser.RoleChooserActivity" />
        <activity android:name=".common.nexuspay.NexusPay" />
        <activity android:name=".common.bkash_otp.BkashOTP" />
        <activity android:name=".common.bkash_transection.BkashTransectionActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/inbox_active_color" /> <!-- google map api metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
      The API key for Google Maps-based APIs is defined as a string resource.
      (See the file "res/values/google_maps_api.xml").
      Note that the API key is linked to the encryption key used to sign the APK.
      You need a different API key for each encryption key, including the release key that is used to
      sign the APK for publishing.
      You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- google map api metadata finishes here -->
        <activity
            android:name=".teacher.homepage.TeacherActivtiy"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".student.homePage.StudentActivity" />
        <activity
            android:name=".auth.auth.AuthActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".auth.code_verification.PhoneVerificationActivity"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".auth.auth_final.AuthRegisterActivity"
            android:label="@string/title_activity_auth_final"
            android:theme="@style/MyStyle"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".auth.social_init.SocialInitActivity"
            android:label="@string/title_activity_social_init"
            android:theme="@style/MyStyle" /> <!-- facebook fucking metadata -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- facebook finishes here -->
        <activity
            android:name=".student.homePage.HomePageActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".teacher.mentor_settings.AccountSettings"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".teacher.mentor_settings.basicinfo.EditAccount"
            android:theme="@style/AppTheme.NoActionBar.transparent.black"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".teacher.mentor_settings.academic.AcademicActivity"
            android:theme="@style/AppTheme.NoActionBar.transparent.black"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".student.profilePage.ProfilePageActivity"
            android:label="@string/title_activity_profile_page"
            android:theme="@style/profilePageTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".student.pojo.CustomStuAppCompatActivity" />
        <activity
            android:name=".student.grabingInfo.GrabingInfoActivity"
            android:label="@string/title_activity_grabing_info"
            android:theme="@style/AppTheme.NoActionBar.transparent.defaultTwo" />
        <activity
            android:name=".student.grabingLocation.GrabingLocationActivity"
            android:label="@string/title_activity_grabing_location"
            android:theme="@style/AppTheme.NoActionBar.transparent"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".student.pojo.CusStuAppComMapActivity" />

        <receiver
            android:name=".broadcastReceiver.MyAlarmBroadCast"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".broadcastReceiver.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastReceiver.SMSAutoVerfication">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MyNotification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyLocationService"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" />

        <activity
            android:name=".student.heatMap.HeatMapActivity"
            android:theme="@style/AppTheme.NoActionBar.transparent" />
        <activity
            android:name=".student.grabingPackage.GrabingPackageActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar.transparent" />
        <activity
            android:name=".student.studentSettings.StudentSettingsActivity"
            android:label="@string/title_activity_student_settings"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".student.studentPayment.StudentPaymentActivity"
            android:label="@string/title_activity_student_payment"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".student.studentHelp.StudentHelpActivity"
            android:label="@string/title_activity_student_help"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".student.searchResultTabview.SearchResultTabviewActivity"
            android:label="@string/title_activity_search_result_tabview"
            android:theme="@style/AppTheme.NoActionBar.transparent.defaultTwo" />
        <activity
            android:name=".student.searchResult.SearchResultActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar.transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".student.searchLoading.SearchLoadingActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar.transparent" />
        <activity
            android:name=".student.recordsPage.RecordsPageActivity"
            android:label="@string/title_activity_records_page"
            android:theme="@style/AppTheme.NoActionBar.transparent.defaultTwo" />
        <activity
            android:name=".student.recordsPending.RecordsPendingActivity"
            android:label="@string/title_activity_records_pendding"
            android:theme="@style/AppTheme.NoActionBar.transparent.pending" />
        <activity
            android:name=".student.recordsRejected.RecordsRejectedActivity"
            android:label="@string/title_activity_records_rejected"
            android:theme="@style/AppTheme.NoActionBar.transparent.rejected" />
        <activity
            android:name=".student.recordsCurrent.RecordsCurrentActivity"
            android:label="@string/title_activity_records_current"
            android:theme="@style/AppTheme.NoActionBar.transparent.current" />
        <activity
            android:name=".student.recordsCompleted.RecordsCompletedActivity"
            android:label="@string/title_activity_records_completed"
            android:theme="@style/AppTheme.NoActionBar.transparent.completed" />
        <activity
            android:name=".student.recordsAccepted.RecordsAcceptedActivity"
            android:label="@string/title_activity_records_accepted"
            android:theme="@style/AppTheme.NoActionBar.transparent.accepted" />
        <activity
            android:name=".teacher.skill.SkillActivity"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".teacher.crudskill.CrudSkillActivity"
            android:label="Select category"
            android:theme="@style/AppTheme.NoActionBar.transparent" />
        <activity
            android:name=".student.freeCashBack.FreeCashBackActivity"
            android:label="@string/title_activity_free_cash_back"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".common.aboutUs.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".common.privacyPolicy.PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".student.mentorAddvertise.MentorAddvertiseActivity"
            android:label="@string/title_activity_mentor_addvertise"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".common.inboxActivity.InboxActivity"
            android:label="@string/title_activity_inbox"
            android:theme="@style/AppTheme.NoActionBar.transparent.default" />
        <activity
            android:name=".common.chatActivity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar.transparent.default" />
        <activity
            android:name=".common.contactActivity.ContactActivity"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar.transparent.testing" />
        <activity
            android:name=".FirstTimeUser.AfterSplashActivity"
            android:label="@string/title_activity_after_splash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.appInfoActivity.AppInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".teacher.addskill.AddSkillActivity" />
        <activity android:name=".teacher.homepage.TeacherActivityMock" />
        <activity
            android:name=".obligation.foreignObli.PayActivity"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".teacher.boot_camp_addvertise.BootCampAdd"
            android:label="@string/title_activity_boot_camp_add"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
        <activity
            android:name=".bootCamp.student_addvertise.StudentAddvertise"
            android:label="@string/title_activity_student_addvertise"
            android:theme="@style/AppTheme.NoActionBar.transparent.black" />
    </application>

</manifest>